<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body>
    <header>
      <p class="home"><a href="{{ '/' | url }}">{{ site.title }}</a></p>
      <ul>
        <li><a href="/understand/">Understanding music</a></li>
        <li><a href="/perform/">Performing music</a></li>
        <li><a href="/compose/">Composing music</a></li>
        <li><a href="/reference/">Reference</a></li>
      </ul>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>